@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yesteryear&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Abril Fatface", display;
}

.parllaxImg {
  /* position: absolute; */
  width: 100%;
  height: 694px;
  background-image: linear-gradient(
      rgba(204, 198, 198, 0.5),
      rgba(204, 198, 198, 0.6)
    ),
    url("./assets/about-banner-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 200px;
}

.parllaxImg1 {
  width: 100%;
  height: 180vh;
  background-image: linear-gradient(
      rgba(204, 198, 198, 0),
      rgba(204, 198, 198, 0.1)
    ),
    url("./assets/asset 15.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 1078px) {
  .parllaxImg1 {
    height: 450vh;
  }
}

@media (max-width:368px){
  .parllaxImg1 {
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(
        rgba(204, 198, 198, 0),
        rgba(204, 198, 198, 0.1)
      ),
      url("./assets/asset 15.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: initial;
  }
}
